<%= "#{$player1.name} vs. #{$player2.name}" %> </br>
<%= "You have attacked." if @attack %> </br>
<%= "#{$player1.name}: #{@player1_hp} Hitpoints" %> </br>
<%= "#{$player2.name}: #{@player2_hp} Hitpoints" %> </br>
<a href="/attack">Attack</a>
